@tailwind base;
@tailwind components;
@tailwind utilities;

.bgc {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h6,
.heading {
  font-family: "Rubik", sans-serif;
}

a,
button,
span,
p,
label,
.text {
  font-family: "Raleway", sans-serif;
}

.delbtn {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: background opacity 0.3s ease-in-out;
}

.list li:hover .delbtn {
  opacity: 1;
}

.list li.plus {
  @apply border-b-2 border-green-500;
}

.list li.minus {
  @apply border-b-2 border-red-500;
}

.heading {
  @apply border-b-2 border-gray-400 dark:border-gray-300 p-2.5 mt-8 mb-2.5 mx-0 font-bold text-2xl;
}

.inp {
  @apply rounded-md p-2.5 border border-c1-400 dark:border-c1-600 placeholder:text-gray-500 dark:placeholder:text-gray-400 bg-c1-300 dark:bg-c1-900 focus:bg-c1-200 dark:focus:bg-c1-700 focus:border-c1-600 dark:focus:border-c1-400 w-full block outline-none;
  transition: background 0.3s ease-in-out;
}

.btn {
  @apply block mt-3 mb-5 mx-auto p-2.5 font-bold w-full rounded-lg text-gray-950 bg-violet-500 hover:bg-violet-600;
  transition: background 0.3s ease-in-out;
}
